@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}
html {
  height: 100%;
}
body {
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
  /* display: grid;
  place-content: center; */
  background-color: var(--Light-pink);
  background-image: url("assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100vw 35%;
}
.container {
    background-color: var(--White);
    margin: 24px;
    margin-top: 142px;
    padding: 24px;
    padding-bottom: 0px;
    border-radius: 8px;
}

.header-div {
  display: flex;
  gap: 8px;
  
}
.header-div img {
  transform: scale(60%);
  position: relative;
  left: -8px;
  top: -1px;
}
h1,
summary {
  color: var(--Dark-purple);
  font-weight: 800;
}

main {
}
details > summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin: 22px 0;
  
}

hr{
    border: 1px solid #f3f3f3;
}

details > p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 16px;
}
